body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
    color: #f9faf8;
}

body div {
    max-width: fit-content;
    max-height: fit-content;
}

.header h6 {

    max-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0%;
    font-size: 24px;    
    font-weight: 700;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header {
    margin-top: 15px;
    margin-left: 10%;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-links ul {
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-around;

}

.header-links li {
    display: flex;  
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-links { 
    padding-top:5px;
    margin-left: 680px;
    margin-right: %;
    justify-content: space-around;  
    max-height: fit-content;
    display: flex;
    flex-direction: row;
}
.hero {
    background-color: #1F2937;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10%;
    padding-top: 5%;    
}
.hero-left {

    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.hero-right {
    margin-left: 150px;
    margin-right: %;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.hero-right img {
    width: 700px;
    border-radius: 16px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero h1 {
    margin: 0%;
    font-size: 48px;
    color: #f9faf8;
}

.hero-right img {
    flex-direction: row;
    justify-content: flex-end;
}   

.hero button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #1f2937;
    color: #f9faf8;
    min-width: 100%;
    margin: 0%;
}

.section-1 {
    justify-content: flex-start     ;
    min-width: 100%;
    flex-direction: column;
    display: flex;
    background-color: #1f2937;
}


.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box1 .box2 .box3 .box4 {
    display: flex;
    flex-direction: row;
}


.team h2 {
    justify-content: center;
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
}

.team p {
    font-size: 18px;
    color: #1f2937;
}

.testimonial {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #e4e6eb;
    color: #1f2937;
}
.testimonial p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 36px;
    font-weight: 0;
    }

.testimonial h6 {
    font-size: 24px;
    font-weight: 700;
}

.testimonial h2 {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
}

.cta-box {
    background-color: #3882f6;
    color: white;
}

.cta-box button {
    background-color: #3882f6;
    color: white;
    text-weight: bold;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 8px;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;            
    background-color: #1F2937;
    color: #e5e7eb;
    min-width: 100%;
    margin: 0%;
}

.footer p {
    margin: 0%;
    padding: 30px;
}